@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    
}

/**:hover{
    border:2px;
    color:purple;
    border-style: solid;
}*/
header{
    background-color: wheat;
}
div#title {
    display: inline-block;
    width: 100vw;
    height: 50px;
    padding-top: 15px;
    
    background-color: wheat;
}

div#title img {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 2em;
}

div#title h1 {
    float: left;
    margin-left: 0.5em;
}

div#title address {
    float: right;
    margin-right: 2em;
    position: relative;
    top: 8px;
    color: rgb(148, 148, 148);
}

header>div {
    display: inline-block;
    width: 100vw;
    background-color: tan;
    height: 2em;
    padding-top: 12px;
}

header div#search {
    float: left;
    margin-left: 2em;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header div#search>input[type=search] {
    width: 18vw;
    height: 20px;
}

header div#search>div.btn {
    background-color: white;
   /* border-radius: 10%;*/
    border: black solid 1px;
    /*padding: 5px 15px;*/
    margin-left: 20px;
    width: 6em;
    height: 18px;
    font-size: 0.75em;
}
header div#search>div.btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

header div#search select#country-choices {
    margin-left: 20px;
    height: 20px;
}

header>div>label {
    float: right;
    margin-right: 2em;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: tan;
    width: 100vw;
    height: 2em;
}

footer>div {
    margin-left: 1em;
    color: rgb(100, 100, 100);
    margin-top: 5px;
}

div.buffer { 
    height: 25px;
    width: 100vw;
}

div.container div.card {
    display: inline-block;
    vertical-align: top;
    width: 30vw;
    background-color: wheat;
    margin: 15px;
    align-content: center;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgb(75, 75, 75);
    overflow: hidden;
}

div.container div.card-head {
    width: 100%;
    text-align: center;
}
div.container div.card-head h1 {
    float: left;
    margin-left: 25px;
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 10px;
}

div.container div.card-head div.delete-btn {
    color: gray;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

div.container div.card-head div.delete-btn:hover {
    cursor: pointer;
    color: black;
}

div.container img {
    width: 90%;
    border: black solid 2px;
    align-content: center;
}

div.container table {
    width: 90%;
    float: left;
    margin-left: 25px;
    border-collapse: separate;
    border-spacing: 0 1em;
    margin-top: 15px;
}

div.container table tr {
    padding-top: 15px;
}

div.container table th {
    float:left;
}

div.container table td {
    margin-left: 50px;
    text-align: left;
}

div.card div.wiki-articles {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.card div.wiki-articles h1 {
    padding-left: 20px;
}

div.card article.wiki-info {
    background-color: white;
    position: relative;
    left: 2.5%;
    width: 90%;
    border-radius: 5px;
    margin: 7px;
}

div.card article.wiki-info h2 {
    background-color: lightgray;
    padding: 8px 8px 8px 8px;
    font-size: 1.25em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.card article.wiki-info a {
    text-decoration: none;
}

div.card article.wiki-info p {
    padding: 15px;
}
