@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    
}

/**:hover{
    border:2px;
    color:purple;
    border-style: solid;
}*/
header{
    background-color: wheat;
}
div#title {
    display: inline-block;
    width: 100vw;
    height: 50px;
    padding-top: 15px;
    
    background-color: wheat;
}

div#title img {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 2em;
}

div#title h1 {
    float: left;
    margin-left: 0.5em;
}

div#title address {
    float: right;
    margin-right: 2em;
    position: relative;
    top: 8px;
    color: rgb(148, 148, 148);
}

header>div {
    display: inline-block;
    width: 100vw;
    background-color: tan;
    height: 2em;
    padding-top: 12px;
}

header div#search {
    float: left;
    margin-left: 2em;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header div#search>input[type=search] {
    width: 18vw;
    height: 20px;
}

header div#search>div#search-btn {
    background-color: white;
   /* border-radius: 10%;*/
    border: black solid 1px;
    /*padding: 5px 15px;*/
    margin-left: 20px;
    width: 6em;
    height: 18px;
    font-size: 0.75em;
}
header div#search>div#search-btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

header div#search select#country-choices {
    margin-left: 20px;
    height: 20px;
}

header>div>label {
    float: right;
    margin-right: 2em;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: tan;
    width: 100vw;
    height: 2em;
}

footer>div {
    margin-left: 1em;
}